{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/cart.css ' %}" type="text/css">
{%endblock%}
{% block content %}
<!-- main content -->
  <!-- Cart Section Begin -->
<section class="cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="cart-title">Your Shopping Cart</h3>
                <div class="cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for item in items %}
                                    {% if item %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <div class="cart__item__pic">
                                                <img src="{{ item.product.ImageURL }}" alt="{{ item.product.name }}" width="150" height="auto">
                                            </div>
                                        </td>
                                        <td>{{ item.product.name }}</td>
                                        <td>
                                            <span>{{ item.quantity }}</span>
                                        </td>
                                        <td>{{ item.product.price }}</td>
                                        <td>{{ oder_iterm.get_total }}</td>
                                        <td>
                                            <a href="#" class="btn btn-danger">Remove</a>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="7">No games in your cart</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="cart__total">
                    <h5>Total: {{ oder.get_cart_total }}</h5>
                </div>
                <div class="cart__btns" style="padding-bottom: 50px">
                    <a href="{% url 'home' %}" class="primary-btn">Continue Shopping</a>
                    <a href="#" class="primary-btn">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cart Section End -->
{% endblock %}
