{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/cs2-banner.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">FPS</div>
                                <h2>Counter-Strike 2</h2>
                                <p>Counter-Strike 2 is a multiplayer tactical first-person shooter, in which two teams, the Counter-Terrorists and the Terrorists, compete to complete different objectives, depending on the game mode selected.</p>
                                <a href="{% url 'productDetail' %}"><span>Free play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/genshin-impact-banner.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">

                                <div class="label">Adventure </div>
                                <div class="label">MMORPG </div>
                                <h2>Genshin impact</h2>
                                <p>an open-world, action role-playing game that allows the player to control one of four interchangeable characters in a party</p>
                                <a href="#"><span>Free play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/honkai-starrail-banner.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <div class="label">RPG</div>
                                <h2>Honkai: Star Rail</h2>
                                <p>a new HoYoverse space fantasy RPG. Hop aboard the Astral Express and experience the galaxy's infinite wonders filled with adventure and thrills. Players will meet new companions across various worlds and maybe even run into some familiar faces.</p>
                                <a href="#"><span>Free play Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for product in products  %}
                                {% if product.price > 0.0 %}

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ product.ImageURL }}"></div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Base Game</li>
                                        </ul>
                                        <h5><a href="{% url 'productDetail' %}?id={{ product.id }}">{{ product.name }}</a></h5>
                                        <div class="text-white"><h6>{{ product.price }}$</h6></div>
                                        {% comment %} <button data-product={{ product.id }} data-action="add" class="btn btn-danger update-cart">add to cart</button> {% endcomment %}
                                        <a href="{% url 'add_to_cart' product.id %}" class="site-btn">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Free to Play</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for product in products %}
                                {% if product.price == 0.0 %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ product.ImageURL }}">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Base</li>
                                        </ul>
                                        <h5><a href="{% url 'productDetail' %}">{{ product.name }}</a></h5>
                                        <div class="text-white">
                                            <h6>Free to play</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                             {% endfor %}
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Comming soon</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for product in products %}
                                {% if product.status == 'coming_soon' %}
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="product__item">
                                            <div class="product__item__pic set-bg" data-setbg="{{ product.ImageURL }}">
                                                <div class="ep">18 / 18</div>
                                                <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                            </div>
                                            <div class="product__item__text">
                                                <ul>
                                                    <li>Active</li>
                                                    <li>Movie</li>
                                                </ul>
                                                <h5><a href="#">{{ product.name }}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Play</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                                <li data-filter=".years">Years</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="{% static 'img/images/black-myth-wukong.png' %}">
                                <h5><a href="#">Black Myth Wukong</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                            data-setbg="{% static 'img/images/lol.jpg' %}">
                            <h5><a href="#">League of legends</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg mix week years"
                        data-setbg="{% static 'img/images/gta5.png' %}">
                        <h5><a href="#">Grand Thef Auto V</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                    data-setbg="{% static 'img/images/fornite.jpg' %}">
                    <h5><a href="#">Fornite</a></h5>
                </div>
                <div class="product__sidebar__view__item set-bg mix day"
                data-setbg="{% static 'img/images/pubg.jpg' %}">
                <h5><a href="#">PlayerUnknown's Battlegrounds</a></h5>
            </div>
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Games Release</h5>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="../static/img/sidebar/valorant2.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Base Game</li>
                </ul>
                <h5><a href="#">Valorant</a></h5>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="../static/img/sidebar/cs22.jpeg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                     <li>Base Game</li>
                </ul>
                <h5><a href="#">Counter-Strike 2</a></h5>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="../static/img/sidebar/wuthering-waves2.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                   <li>Base Game</li> >
                </ul>
                <h5><a href="#">Wuthering Waves</a></h5>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="../static/img/sidebar/pubg2.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Base Game</li>
                </ul>
                <h5><a href="#">PlayerUnknown's Battlegrounds</a></h5>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->
{% endblock%}

{% block extra_js %}
    <script type="text/javascript">
        var user = '{{ request.user }}'
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
            const csrftoken = getCookie('csrftoken');
    </script>
{%endblock%}
