{% extends "base.html" %}
{% load static %}
{% block content %}
         <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Result search for {{ searched }}</h4>
                                </div>
                            </div>
                        </div>
                       <div class="row">
                            {% for product in key %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ product.ImageURL }}">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Base game</li>
                                        </ul>
                                       <h5><a href="{% url 'productDetail' %}?id={{ product.id }}">{{ product.name }}</a></h5>
                                                    {% if product.price == 0.0 %}
                                                    	<div class="text-white">Free to play</div>
                                                    {% else %}
                                                    <div class="text-white"><h6>{{ product.price }}$</h6></div>
                                                {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->
{% endblock %}
      